@using WebApp.ViewModels
@using WebApp.Helpers
@model LargeTaskViewModel

<a class="btn btn-default btn-sm" asp-controller="Course" asp-action="Get" asp-route-id=@Model.CourseId><span class="glyphicon glyphicon-arrow-left"></span> Назад к списку заданий курса</a>
<h2>
    <img src="~/images/task_icon.svg" width="30" height="30" />Задание @Model.Name

    @if (Model != null)
    {
        if (Model.AllowSubmissionFromDate > DateTime.UtcNow)
        {
            <span class="label label-default">Недоступно</span>
        }
        if (Model.AllowSubmissionFromDate <= DateTime.UtcNow && Model.DueDate > DateTime.UtcNow)
        {
            <span class="label label-success">Доступно</span>
        }
        if (Model.DueDate <= DateTime.UtcNow && Model.GradingDate > DateTime.UtcNow)
        {
            <span class="label label-warning">Доступно для оценивания</span>
        }
        if (Model.GradingDate <= DateTime.UtcNow)
        {
            <span class="label label-danger">Закрыто</span>
        }
        if ((User.IsInRole("teacher") || User.IsInRole("admin")) && Model.DueDate > DateTime.UtcNow)
        {
            <br /><br /><a class="btn btn-default btn-lg" asp-controller="Task" asp-action="Settings" asp-route-task=@Model.Id><span class="glyphicon glyphicon-cog"></span> Редактировать настройки</a>
            if (Model.PeerGrading == Domain.Entities.PeerGradingEnum.Cardinal)
            {
                <br /><br /><a class="btn btn-default btn-lg" asp-controller="Rubric" asp-action="Get" asp-route-id="@Model.Id">
                    <span class="glyphicon glyphicon-align-justify"></span> Рубрики
                </a>
            }

        }
        if ((User.IsInRole("teacher") || User.IsInRole("admin")) && Model.GradingDate <= DateTime.UtcNow)
        {
            if (Model.PeerGrading == Domain.Entities.PeerGradingEnum.Ordinal)
            {
                <br /><br /><a class="btn btn-default btn-lg" id="btnCalculateOrdinal"><span class="glyphicon glyphicon-signal"></span> Вычислить оценки</a>
            }
            else
            {
                <br /><br /><a class="btn btn-default btn-lg" id="btnCalculateCardinal"><span class="glyphicon glyphicon-signal"></span> Вычислить оценки</a>
            }

            <br /><br /><a class="btn btn-default btn-lg" id="btnLoadGrades"><span class="moodle-icon"></span> Выгрузить оценки в Moodle</a>

        }
    }
</h2>
<br /><br />
<h5><b>Описание:</b></h5>
@Html.DisplayHtmlString(Model.Description)
<br />
<h5><b>Дата начала выполнения задания:</b> @Model.AllowSubmissionFromDate.ToLocalTime()</h5>
<br />
<h5><b>Дата окончания выполнения задания:</b> @Model.DueDate.ToLocalTime()</h5>
<br />
<h5><b>Дата окончания оценивания:</b> @Model.GradingDate.ToLocalTime()</h5>
<br />
@if (Model.AllowSubmissionFromDate <= DateTime.UtcNow && Model.DueDate > DateTime.UtcNow && User.IsInRole("student"))
            {
                if (!Model.IsAttachedSubmission)
                {
                    <h3>Загрузить ответ на задание</h3>
                    <form asp-action="AddFile" asp-controller="Task" method="post" enctype="multipart/form-data" asp-route-taskId=@Model.Id>
                        <div class="form-group">
                            <h5><b>Ответ в виде файла</b></h5><br>
                            <label class="errUpload" style="display: none" id="lblErrorUpload">Размер файла не должен превышать 2 мб!</label>
                            <input type="file" class="form-control" id="uploadedFile" name="uploadedFile"/><br>
                            <h5><b>Пояснение к ответу</b></h5><br>
                            <textarea name="textAnswer" cols="40" rows="5"></textarea><br>
                        </div>
                        <input type="submit" class="btn btn-success" value="Загрузить" id="btnUpload" disabled="disabled"/>
                    </form>
                    <br />
                    <br />
                }

            }

@if (User.IsInRole("student")
  && Model.DueDate <= DateTime.UtcNow
  && Model.GradingDate > DateTime.UtcNow)
{
    if (!Model.IsGradedSubmissions
        && Model.PeerGrading == Domain.Entities.PeerGradingEnum.Ordinal)
    {
        <a class="btn btn-default btn-lg" asp-controller="Task" asp-action="Grade" asp-route-taskId=@Model.Id><span class="glyphicon glyphicon-edit"></span> Оценить работы других студентов</a>    
    }
    if (Model.PeerGrading == Domain.Entities.PeerGradingEnum.Cardinal)
    {
        int i = 1;
        <h3>Работы на проверку:</h3>
        <table class="table table-hover">
            <tr>
                <th>
                    Работа
                </th>
                <th>
                    Статус
                </th>
            </tr>
            @foreach (var submission in Model.Submissions)
            {
                <tr>
                    <td>
                        <a asp-controller="Submission" asp-action="Get" asp-route-id="@submission.Id" asp-route-number="@i">Работа @i</a>
                    </td>
                    <td>
                        @if (Model.CardinalGrades.Exists(g => g.Submission.Id == submission.Id))
                        {
                            <span class="label label-success">Проверена</span>
                        }
                        else
                        {
                            <span class="label label-warning">Не проверена</span>
                        }
                    </td>
                </tr>
                i++;
            }
        </table>
    }
}

    <script type="text/javascript">
    $("#uploadedFile").change(function() {
        var maxFileSize = @Domain.Entities.File.MaxLengthBytes;
        var fileUpload = $('#uploadedFile');

        if (fileUpload.val() == '') {
            $('#btnUpload').prop('disabled', true);
            $("#lblErrorUpload").hide();
        } else {
            if (fileUpload[0].files[0].size < maxFileSize) {
                $('#btnUpload').prop('disabled', false);
                $("#lblErrorUpload").hide();
            } else {
                $('#btnUpload').prop('disabled', true);
                $("#lblErrorUpload").show();
            }
        }
    });

    $("#btnCalculateOrdinal").on(
        'click',
        function() {
            $.ajax({
                url: '/Task/CalculateGrades/@Model.Id',
                type: 'GET',
                dataType: 'json',
                Accept : "application/json",
                contentType: "application/json",
                success: function(data) {
                    alert("Оценки вычислены!");
                }
            });
        });
    $('#btnCalculateCardinal').on(
        'click',
        function() {
            $.ajax({
                url: '/Submission/CalculateCardinalGrades/@Model.Id',
                type: 'GET',
                dataType: 'json',
                Accept : "application/json",
                contentType: "application/json",
                success: function(data) {
                    alert("Оценки вычислены!");
                }
            });
        });
    $('#btnLoadGrades').on(
        'click',
        function() {
            $.ajax(
                {
                    url: '/Submission/LoadGradesToMoodle/@Model.Id',
                    type: 'GET',
                    dataType: 'json',
                    Accept: "application/json",
                    contentType: "application/json",
                    success: function (result) {
                        if (result) {
                            alert("Оценки выгружены!");
                        } else {
                            alert("Упс... что-то пошло не так. Попробуйте еще раз.");
                        }
                         
                    }
                });
        });
        </script>