﻿@model WebApp.ViewModels.GradesTaskViewModel


<a class="btn btn-default btn-sm" asp-controller="Task" asp-action="Get" asp-route-id=@Model.Id><span class="glyphicon glyphicon-arrow-left"></span> Назад к заданию</a>
<br /><h1>Оценки за задание @Model.Name</h1>

<table class="table table-hover">
    <tr>
        <th>
            Пользователь
        </th>
        <th>
            Оценка (из @Model.MaxGrade)
        </th>
    </tr>
    @foreach (var submission in Model.Submissions)
    {
        <tr>
            <td>
                @submission.User.Nickname
            </td>
            <td>
                @submission.SummaryGrade
            </td>
        </tr>
    }
</table>