﻿@using System.Linq
@using WebApp.Helpers
@using WebApp.ViewModels
@model OrdinalGradeTaskViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-default btn-sm" asp-controller="Task" asp-action="Get" asp-route-id=@Model.Id><span class="glyphicon glyphicon-arrow-left"></span> Назад к заданию</a>
<h2>Форма оценивания задания</h2>
<h5><b>Задание: </b> @Model.Name</h5>
<h5><b>Курс: </b> @Model.CourseName</h5>
<div class="row">
    @for (int i = 0; i < Model.DistributionFile.Count; i++) // Files.Count
    {
        <div class="col-md-2">
            <h4>Работа @Model.DistributionFile.ElementAt(i).Key.GraderWorkNumber </h4>
            <a class="btn btn-default btn-sm" asp-controller="File" asp-action="Download" asp-route-id="@Model.DistributionFile.ElementAt(i).Value.FileName" asp-route-number="@Model.DistributionFile.ElementAt(i).Key.GraderWorkNumber"><span class="glyphicon glyphicon-download-alt"></span> Скачать</a>
        </div>
    }
</div>
<form asp-controller="Task" asp-action="Grade" method="post">
    <div class="row">
        <h3>Оцените работы и расставьте в порядке убывания качества: </h3>
        <h4>Примечания:</h4>
        <h5>1. Лучшая работа в левом верхнем углу. </h5>
        <h5>2. Оценивание происходит слева направо, сверху вниз.</h5><br />
        
        @{
            for (int i=0;i<Model.DistributionFile.Count - 1;i++) //Files.Count - 1
            {
                
                 @Html.DisplayHtmlString("Работа")
                 
                 <select class="works" id=@("work" + (i + 1)) name=@("work" + (i + 1))>
                     <option value=" "> </option>
                     @foreach (var df in Model.DistributionFile)
                     {
                         <option value=@(df.Key.GraderWorkNumber)>@(df.Key.GraderWorkNumber)</option>
                         
                     }
                 </select>
                 <select class="grades" id=@("grade" + (i + 1).ToString()) name=@("grade" + (i + 1).ToString())>
                     <option value=" "> </option>
                     <option>Намного лучше, чем </option>
                     <option>Лучше, чем </option>
                     <option>Немного лучше, чем </option>
                     <option>Примерно на одном уровне с </option>
                 </select>
                 if (i % 2 == 1 && i != Model.DistributionFile.Count - 2) //Files.Count - 2
                 {
                     @Html.DisplayHtmlString("<br/>");
                 }
             }
        }
        Работа
        @{
            <select class="works" id=@("work" + Model.DistributionFile.Count) name=@("work" + Model.DistributionFile.Count)>
                <option value=" "> </option>
                @foreach(var df in Model.DistributionFile)
                {
                    <option value=@(df.Key.GraderWorkNumber)>@(df.Key.GraderWorkNumber)</option>;
                }
            </select>
        }
    </div>
    <div class="row" align="center">
        <br/><button class="btn btn-lg btn-primary" id="btnGrade" type="submit" disabled>Оценить</button>
    </div>
    @Html.HiddenFor(m => m.Id, Model.Id)
</form>


<script type="text/javascript">
    function change(event) {
        var numbers = [];
        $(".works").each(function () {
            if ($(this).val() !== "") {
                var num = $("option:selected", this).text();
                numbers.push(num);
            }
        });
        $(".works").each(function () {
            var selectObj = document.getElementById($(this).attr("id"));
            for (var i = 0; i < selectObj.length; i++) {
                if (numbers.indexOf(selectObj.options[i].text) == -1) {
                    selectObj.options[i].disabled = false;
                }
            }
            numbers.forEach(function(item, i, arr) {
                var option = $("option[value='" + item + "']", selectObj);
                option.attr("disabled", "disabled");
            });
        });
        }
    $(".works").change(function(event) {
            change(event);
            submitCheck();
        });
    $(".grades").change(function() {
        submitCheck();
    });
    function submitCheck() {
        var disabled = false;

        $(".works").each(function() {
            if ($(this).val() === "") {
                disabled = true;
            }
        });

        $(".grades").each(function () {
            if ($(this).val() === "") {
                disabled = true;
            }
        });

        document.getElementById("btnGrade").disabled = disabled;
    }
    function unDisable() {
        $(".works").each(function () {
            var selectObj = document.getElementById($(this).attr("id"));
            for (var i = 0; i < selectObj.length; i++) {
                selectObj.options[i].disabled = false;
            }
        });
    }

    $("#btnGrade").on('click',
        function() {
            unDisable();
        });

</script>