@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using WebApp.ViewModels
@model TaskViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Настройки оценивания</h2>
<h4>Задание: @Model.Name</h4>
<h4>Курс: @Model.CourseName</h4>

<br />
<form method="post" asp-controller="Task" asp-action="Settings">
    <label for="maxworks">Количество назначаемых работ: </label>
    <select id="maxworks" name="maxworks" asp-for="MaxWorks">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <br /><input type="submit" value="Сохранить" class="btn btn-primary">
    @Html.HiddenFor(model => model.Id, null)
</form>