﻿@{
    ViewData["Title"] = "О проекте";
}
<h2>@ViewData["Title"]</h2>
<h3>Peer grading system</h3>
<p>Данная система предназначена для внедрения в платформу Moodle возможности коллегиального оценивания.</p>
