﻿@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>Информация о разработчике</h3>

<address>
    <strong>Студент 4 курса, Копылов Никита<br /></strong>
    Пермский Государственный Национальный Исследовательский Университет<br/>
    Механико-математический факультет<br/>
    Кафедра Математического обеспечения вычислительных систем<br/>
</address>

<address>
    <strong>Разработчик:</strong>   <a href="mailto:nick5477@yandex.ru">nick5477@yandex.ru</a><br />
</address>