﻿@using System
@using System.Collections.Generic
@using WebApp.ViewModels
@using WebApp.Helpers
@model System.Collections.Generic.IEnumerable<TaskViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-default btn-sm" asp-controller="Course" asp-action="List"><span class="glyphicon glyphicon-arrow-left"></span> Назад к списку курсов</a>
<h2>Список заданий</h2>
<br /><br /><br />
@if (Model != null)
{
    foreach (var task in Model)
    {
        
        <div class="panel panel-success">
            <div class="panel-heading"><img src="~/images/task_icon.svg" width="25" height="25"/><a asp-controller="Task" asp-action="Get" asp-route-id=@task.Id>@task.Name</a>
            @if (task.AllowSubmissionFromDate > DateTime.UtcNow)
            {
                <span class="label label-default">Недоступно</span>
            }
            @if (task.AllowSubmissionFromDate <= DateTime.UtcNow && task.DueDate > DateTime.UtcNow)
            {
                <span class="label label-success">Доступно</span>
            }
            @if (task.DueDate <= DateTime.UtcNow && task.GradingDate > DateTime.UtcNow)
            {
                <span class="label label-warning">Доступно для оценивания</span>
            }
            @if (task.GradingDate <= DateTime.UtcNow)
            {
                <span class="label label-danger">Закрыто</span>
            }
            </div>
            <div class="panel-body">@Html.DisplayHtmlString(task.Description)</div>
        </div>
    }
}