@using WebApp.ViewModels
@model IEnumerable<CourseViewModel>
@{
    ViewBag.Title = "Ваши курсы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список курсов</h2>
<form asp-action="List" method="post">
    @if (User.IsInRole("teacher") || User.IsInRole("admin"))
    {
        <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-refresh"></span>Синхронизировать с Moodle</button>
    }
</form><br /><br /><br />
@if (Model != null)
{
foreach (CourseViewModel course in Model)
 {
     <div class="panel panel-info">
         <div class="panel-heading">@course.FullName</div>
         <div class="panel-body"><a class="btn btn-default" asp-action="Get" asp-route-id=@course.Id>Перейти</a>
         </div>
     </div>
 }
}
