@model WebApp.ViewModels.LargeRubricViewModel
<div class="row">
    <a class="btn btn-default btn-sm" asp-controller="Task" asp-action="Get" asp-route-id=@Model.TaskId><span class="glyphicon glyphicon-arrow-left"></span> Назад к заданию</a>
</div>
<div class="row">
    <h2>Рубрики</h2>    
</div>

<form method="post">
    <div class="row">
        <label for="gradingDescription">Описание для оценивания</label><br />
        <textarea id="gradingDescription" cols="60" rows="10" name="gradingDescription" placeholder="Описание для оценивания" asp-for="TaskGradingDescription"></textarea>
    </div>
    @if (Model.Rubrics == null || Model.Rubrics.Count == 0)
    {
        <div class="row">
            <label for="rubric1_name">Название рубрики</label><br />
            <input class="rubric" id="rubric1_name" type="text" placeholder="Название рубрики" name="rubric1_name" />
        </div><br />
              <div class="row">
                  <label for="rubric1_name">Описание рубрики</label><br />
                  <textarea name="rubric1_description" cols="40" rows="5" placeholder="Описание критерия" id="rubric1_description"></textarea>
              </div>
        <div class="row" id="rubric1_level1">
            <label>Уровень</label><br />
            <textarea class="rubric1" id="rubric1_level1_description" name="rubric1_level1_description" placeholder="Описание уровня" cols="22" rows="3"></textarea><br />
            <input type="number" id="rubric1_level1_points" value="0" disabled name="rubric1_level1_points" />
            <label> баллов</label>
        </div>
        <div class="row" id="rubric1_level2">
            <label>Уровень</label><br />
            <textarea class="rubric1" id="rubric1_level2_description" name="rubric1_level2_description" placeholder="Описание уровня" cols="22" rows="3"></textarea><br />
            <input type="number" id="rubric1_level2_points" value="1" name="rubric1_level2_points" />
            <label> баллов</label>
        </div>
        <div class="row" id="rubric1_level3">
            <label>Уровень</label><br />
            <textarea class="rubric1" id="rubric1_level3_description" name="rubric1_level3_description" placeholder="Описание уровня" cols="22" rows="3"></textarea><br />
            <input type="number" id="rubric1_level3_points" value="2" name="rubric1_level3_points" />
            <label> баллов</label>
            <a class="btn btn-default btn-xs" onclick="deleteRubricLevel(this.id)" id="btn_delete_rubric1_level3"><span class="glyphicon glyphicon-remove"></span> Удалить уровень</a>
        </div>
        <div class="row" id="divRubric1AddLevel">
            <br /><a class="btn btn-default btn-sm" id="btn_rubric1_add_level" onclick="addLevel(this.id)"><span class="glyphicon glyphicon-plus"></span> Добавить уровень</a>
        </div>
        <div class="row" id="divAddRubric">
            <br /><a class="btn btn-default btn-lg" id="btnAddRubric" onclick="addRubric()"><span class="glyphicon glyphicon-plus"></span> Добавить рубрику</a>
        </div>
    }
    else
    {
        int i = 1;
        foreach (var rubric in Model.Rubrics)
        {
            <div id="@($"rubric{i}")">
                <div class="row">
                    <label for="@($"rubric{i}_name")">Название рубрики</label><br />
                    <input value="@(rubric.Name)" class="rubric" id="@($"rubric{i}_name")" type="text" placeholder="Название рубрики" name="@($"rubric{i}_name")" />
                </div>
                <div class="row">
                    <label for="rubric1_name">Описание рубрики</label><br />
                    <textarea name="@($"rubric{i}_description")" cols="40" rows="5" placeholder="Описание критерия" id="@($"rubric{i}_description")">@rubric.Description</textarea>
                </div>



                @{ int j = 1; }
                @foreach (var level in rubric.Levels)
                {
                    if (j == 1)
                    {
                        <div class="row" id="@($"rubric{i}_level{j}")">
                            <label>Уровень</label><br />
                            <textarea class="@($"rubric{i}")" id="@($"rubric{i}_level{j}_description")" name="@($"rubric{i}_level{j}_description")" placeholder="Описание уровня" cols="22" rows="3">@level.Description</textarea><br />
                            <input value="@level.Points" type="number" id="@($"rubric{i}_level{j}_points")" name="@($"rubric{i}_level{j}_points")" disabled/>
                            <label> баллов</label>
                        </div>
                    }
                    else
                    {
                        <div class="row" id="@($"rubric{i}_level{j}")">
                            <label>Уровень</label><br />
                            <textarea class="@($"rubric{i}")" id="@($"rubric{i}_level{j}_description")" name="@($"rubric{i}_level{j}_description")" placeholder="Описание уровня" cols="22" rows="3">@level.Description</textarea><br />
                            <input value="@level.Points" type="number" id="@($"rubric{i}_level{j}_points")" name="@($"rubric{i}_level{j}_points")" />
                            <label> баллов</label>
                            @if (j > 2)
                            {
                                <a class="btn btn-default btn-xs" onclick="deleteRubricLevel(this.id)" id="@($"btn_delete_rubric{i}_level{j}")"><span class="glyphicon glyphicon-remove"></span> Удалить уровень</a>
                            }
                        </div>
                    }


                    j++;
                }
                <div class="row" id="@($"divRubric{i}AddLevel")">
                    <br /><a class="btn btn-default btn-sm" id="@($"btn_rubric{i}_add_level")" onclick="addLevel(this.id)"><span class="glyphicon glyphicon-plus"></span> Добавить уровень</a><br /><br />
                </div>

                @if (i > 1)
                {
                    <div class="row">
                        <a class="btn btn-default btn-sm" onclick="deleteRubric(this.id)" id="@($"btn_delete_rubric{i}")"><span class="glyphicon glyphicon-remove"></span> Удалить рубрику</a>
                    </div>
                }
        
            </div>

            i++;
        }
        <div class="row" id="divAddRubric">
            <br /><a class="btn btn-default btn-lg" id="btnAddRubric" onclick="addRubric()"><span class="glyphicon glyphicon-plus"></span> Добавить рубрику</a>
        </div>
    }

    <div class="row">
        <br /><br /><input id="btnSaveRubric" name="btnSaveRubric" value="Сохранить" type="submit" class="btn btn-lg btn-primary" /><br /><br />
    </div>
    @Html.HiddenFor(m => m.TaskId, Model.TaskId)
</form>
<script type="text/javascript" src="~/js/rubrics.js"></script>