﻿@using System
@using Microsoft.AspNetCore.Mvc.Rendering
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/webix.css" type="text/css" charset="utf-8">
    <script src="~/js/webix.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <style type="text/css">
        #listA, #listB {
            float: unset;
            margin: 0px;
        }

        body {
            background: #fff;
        }
    </style>
    <script type="text/javascript">
        function digitalWatch() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            if (hours < 10) hours = "0" + hours;
            if (minutes < 10) minutes = "0" + minutes;
            if (seconds < 10) seconds = "0" + seconds;
            document.getElementById("digital_watch").innerHTML = hours + ":" + minutes;
            setTimeout("digitalWatch()", 1000);
        }
    </script>
</head>
<body onload="digitalWatch()">
<div class="navbar navbar-default navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">

            @Html.ActionLink("Moodle peer grading system", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
			@Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    <div class = "col-md-3 col-sm-5 col-sm-offset-0">
        <ul class="nav nav-tabs nav-stacked">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("О проекте", "About", "Home")</li>
            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
        </ul>
        <h3>Текущее время: <p id="digital_watch" style="font-family:inherit; color: #555; font-size: 180%; font-weight: bold;"></p></h3>
        <div id="listA"></div>
        
    </div>
    <div class="col-md-8 col-md-offset-1 col-sm-6">

            @RenderBody()
        
        @*<footer style="position: fixed; bottom: 0;">
            <p>&copy; @DateTime.Now.Year – by Nikita Kopylov, Perm, PSNRU</p>
        </footer>*@
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    webix.ui({
        container: "listA",
        weekHeader: true,
        date: new Date(),
        view: "calendar",
        events: webix.Date.isHoliday,
        icons: true
    });
</script>
</body>
</html>
