﻿@model WebApp.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/signin.css" rel="stylesheet">
</head>

<body>
<div class="container">
    
    <div class="form-signin" role="form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">Вход</h2>
            <div>
                @Html.ValidationSummary()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div>
                    <label>Логин</label><br />
                    @Html.EditorFor(x => x.UserName)
                </div>
                <div>
                    <label>Пароль</label><br />
                    @Html.EditorFor(x => x.Password)
                </div>
                <button class="btn btn-sm btn-primary" type="submit">Войти</button>
            </div>
        }
    </div>

</div> <!-- /container -->
</body>
</html>
