@model WebApp.ViewModels.SubmissionViewModel
@{
    ViewBag.Title = $"Работа {Model.WorkNumber}, Задание {Model.Task.Name}";
}

<script type="text/javascript" src="~/js/gradeSubmission.js"></script>

<a class="btn btn-default btn-sm" asp-controller="Task" asp-action="Get" asp-route-id=@Model.Task.Id><span class="glyphicon glyphicon-arrow-left"></span> Назад к заданию</a>
<h2>Работа @Model.WorkNumber, Задание "@Model.Task.Name"</h2><br />
<a class="btn btn-default btn-sm" asp-controller="File" asp-action="Download" asp-route-id="@Model.FileAnswer.FileName" asp-route-number="@Model.WorkNumber"><span class="glyphicon glyphicon-download-alt"></span> Скачать работу</a><br /><br />
<h4>Текстовый ответ обучающегося:</h4>
<p>@Model.TextAnswer</p><br />
<h4>Описание для грейдера:</h4>
<p>@Model.Task.CardinalGradingDescription</p><br/>
<form method="post">
    @{
        int i = 1;
        foreach (var rubric in Model.Rubrics)
        {
            <b>Критерий "@rubric.Name"</b><br />
            @rubric.Description<br />
            <div class="rubric">
                @foreach (var level in rubric.Levels)
                {
                    <label>@Html.RadioButtonFor(m => m.Answers[i-1], $"{rubric.Id}_{level.Id}", new{ @class = "rubric", @name = $"rubric_{i}", @onclick = "check()" } ) @level.Description</label><br />
                }
            </div>

            i++;
        }
    }

    @Html.HiddenFor(m => m.Id, Model.Id)
    <br />
    <button class="btn btn-lg btn-primary" id="btnGrade" asp-action="Get" type="submit" disabled>Оценить</button><br/><br /><br />
</form>
<script type="text/javascript">
    $(document).ready(function () { check(); }) 
</script>